@import "partials/_mixins.scss";
@import "partials/_variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Pavanam&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Pavanam", sans-serif;
}

.hide {
    display: none !important;
    @media (min-width: 600px) {
        display: flex !important;
    }
}


.wrapper {

    .header {
        @include flex(row, space-between, center);
        padding: 20px;
        position: relative;

        img {
            opacity: 0.8;
        }

        .nav {
            @include flex (column, space-between, center);
            position: absolute;
            width: 100%;
            top: 120px;
            @media (min-width: 600px) {
                flex-direction: row;
                justify-content: flex-end;
                align-items: flex-end;
                top: 20px;
                right: 20px;

                > div {
                    display: none !important;
                }

                a {
                    margin-left: 20px;
                }
            }

            a {
                text-decoration: none;
                color: black;
                font-size: 25px;
                margin-bottom: 20px;

                i {
                    font-size: 18px;
                }

                &:hover {
                    transform: scale(1.1);
                }
            }

            div {
                @include flex (column, center, center);
            }
        }

        .hamburger {
            @media (min-width: 600px) {
                display: none;                
            }

            * {
                transition: 400ms;
            }

            .outer-circle {
                @include flex (row, center, center);
                @include circle(50px, 50px);
                background-color:rgb(209, 158, 81);

                .inner-circle {
                    @include flex (row, center, center);
                    @include circle(40px, 40px);
                    background-color: white;
                    position: relative;

                    .hide-box {
                        @include flex (column, space-around, center);
                        height: 25px;
                        width: 60px;
                        background-color: white;
                        position: absolute;

                        .line {
                            flex-basis: 20%;
                            width: 100%;
                            background-color: black;
                        }

                        .line:first-child {
                            background-color: rgb(97, 209, 74);
                        }

                        .line:nth-child(2){
                            background-color: red;
                        }

                        .line:last-child {
                            background-color: rgb(109, 60, 25);
                        }
                    }
                }
            }
        }

        .change {
            
            * {
                transition: 400ms;
            }

            .outer-circle{
                background-color: black;

                .inner-circle {

                    .hide-box {
                        background-color: transparent;

                        .line:first-child {
                            transform: rotate(-45deg) translate(-6px, 6px);
                            width: 80%;
                            background-color: black;
                        }

                        .line:nth-child(2){
                            transform: translate(-70px, 0px);
                            opacity: 0;
                            transition: 600ms;
                            background-color: black;
                        }

                        .line:last-child {
                            transform: rotate(45deg) translate(-6px, -6px);
                            width: 80%;
                            background-color: black;
                        }
                    }
                }
            }
        }
    }

    .main {
        @include flex (column, space-around, flex-start);
        background-image: url("/images/background.png");
        background-size:280% 100%;
        background-repeat: no-repeat;
        background-position: 60% 70%;
        padding: 20px;

        .intro {

            h1 {
                font-size: 45px;
                font-weight: lighter;
            }
            
            span {
                color: #36A160;
            }

            button {
                height: 40px;
                width: 120px;
                font-size: 18px;
                background-color: #006775;
                border: none;
                padding: 5px 10px;
                color: white;
                margin-top: 20px;
                border-radius: 5px;
                box-shadow: 2px 2px 6px 0px #001e22;

                &:hover {
                    background-color: #0d8696;
                    transform: scale(1.1);
                    cursor: pointer;
                }
            }
        }

        .profile {
            align-self: flex-end;
            @include flex (column, space-around, flex-start);

            .profile-box {
                height: 100px;
                width: 300px;
                border-radius: 10px;
                background-color: white;
            }
        }
    }
}

